@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');



h1 {
    font-family: 'Cinzel Decorative', cursive !important;
    font-size: 96px !important;
    text-align: center;
}


.fk {
    font-weight: bold;
}

.feher {
    color: black;
    background-color: white;
}

.fekete {
    color: white;
    background-color: black;
}


.alakzat {
    font-size: 6em;
    text-align: center;
    margin: 0;
}


.kepalairas {
    font-style: italic;
    font-size: 12px;
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 2px;
    margin-top: 5px;
}


.huszar-lista {
    list-style-image: url('huszar-felsorolas.png');
    line-height: 2.5;}

